.arrow{
    display: block;
}
.arrowM{
    display: none;
}
#beneBox:hover #bene1,
#beneBox:hover #bene2,
#beneBox:hover #bene3,
#beneBox:hover #bene4,
#beneBox:hover #bene5,
#beneBox:hover #bene6
    {
        transform: scale(1.05);
    }
#beneBox:hover #bene1 img,
#beneBox:hover #bene2 img,
#beneBox:hover #bene3 img,
#beneBox:hover #bene4 img,
#beneBox:hover #bene5 img,
#beneBox:hover #bene6 img 
    {
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 6%;
    }
#beneBox:hover h2{
    margin: 0;
}
#beneBox:hover{
    flex: 3;
}