@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import "tailwindcss";

:root {
  --font-roboto: 'Roboto', sans-serif;
}
.font-roboto {
  font-family: var(--font-roboto);
}
html{
  font-size: 62.5%;
  font-family: var(--font-roboto);
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  background-image: url('../public//bg.jpg');
  background-position-y: center;
  background-attachment: fixed;
}
#root{
  width: 100%;
  height: 100%;

}
.swiper-slide {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
section{
  margin-bottom: 2rem;
}
.webfill{
  height: -webkit-fill-available;
}
#benefit{
  margin-bottom: 6rem;
}
.bene-box{
  padding: 3rem ;
}
.warpper-content {
  max-width: 1080px;
  display: flex;
}
.banner {
  padding: 2vw 4vw 3rem;
  margin: 0 auto;
}
.slide-content {
  position: relative;
  width: 100%;
}
.hv:hover{
  flex: 2.7;
  max-width: 70%;
  width: 100%;
  transition: all .3s ease-in-out;
}
.hv{
  flex: 1;
}
.overlay.active {
  opacity: 1;
  visibility: visible;
}
.webkit-fill-av{
  height: -webkit-fill-available;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 10;
}
#market{
  margin-bottom: 0rem !important;
}
.res-5vw{
  padding-top: 5vw;
}
.res-15vw{
  padding-top: 15vw;

}
.pd-bene{
  padding-bottom: 5rem;
}
@layer utilities {
  .text-neon {
    text-shadow: 0 0 3px #03FBFE, 0 0 15px rgba(3, 251, 254, 0.8), 2px 2px 3px rgba(0, 0, 0, 0.6);
  }
}
.sup-aura{
  position: fixed;
  z-index: 10;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: ring 2s infinite ease-in-out;
}
@keyframes ring {
  0%   { transform: rotate(0) ;  box-shadow: 0 0 0 0 rgba(3, 251, 254, 0.8); }
  10%  { transform: rotate(15deg); }
  20%  { transform: rotate(-15deg); }
  30%  { transform: rotate(10deg); }
  40%  { transform: rotate(-10deg); }
  50%  { transform: rotate(5deg); box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.6); }
  60%  { transform: rotate(-5deg); }
  70%  { transform: rotate(3deg); }
  80%  { transform: rotate(-3deg); }
  90%  { transform: rotate(2deg); }
  100% { transform: rotate(0); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.6); }
}
.btn-vip{
  position: relative;
  cursor: pointer;
  animation: ring2 3s linear infinite;
}
.btn-vip:hover{
  filter: brightness(1.20);

}
.imgBannerPc{
  max-width: 100%;
  width: 100%;
}

@keyframes ring2 {
  0%   { transform: rotate(0);  }
  10%  { transform: rotate(0.5deg); }
  20%  { transform: rotate(-1deg); }
  30%  { transform: rotate(1deg); }
  40%  { transform: rotate(-1deg); }
  50%  { transform: rotate(1deg); }
  60%  { transform: rotate(-1deg); }
  70%  { transform: rotate(1deg); }
  80%  { transform: rotate(-1deg); }
  90%  { transform: rotate(1deg); }
  100% { transform: rotate(0); }
}

.swiper-container {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@media (min-width: 1920px){
  .sup-aura{
    width: 5%;
    height: 10% !important;
  }
  .textBtn{
    font-size: .8vw !important;
}
.textBtnLast{
    font-size: .8vw !important;
}
  .res-w-4k {
    font-size: 7.6rem;
  }
  .banner-img{
    max-width: 25% !important;
  }
  .res-5vw{
    padding-top: 0;
  }
  .res-15vw{
    padding-top: 5vw;
  }
  .imgBannerPc{
    max-width: 200%;
    width: 200%;
  }
}
@media (max-width: 1440px){
  .gap-banner_res{
    gap: 0;
  }
  .btn-banner1{
    max-width: 66%;
  }
  .textBtn,
  .textBtnLast{
      font-size: 1.3em;
  }
  .res-w{
      max-width: 55%;
  }
  .res-img{
    max-height: 8rem;
    margin: 1rem auto;
  }
  .bannerBtnLast,
  .bannerBtn{
    max-width: 60% !important;
  }
}
@media (max-width: 1200px){
  .btn-banner1{
    max-width: 71%;
  }
  .bannerBtnLast,
  .bannerBtn{
    max-width: 65% !important;
  }
  .textBtn,
  .textBtnLast{
      font-size: 1.8rem !important;
  }
  .res-w{
      max-width: 58%;
  }
  .res-img{
    margin-bottom: 2rem;
    max-height: 6.4rem;
  }
  .footer-res{
    padding: 0 5% !important;
  }
  .slide-item{
    max-width: 19rem !important;
    max-height: 19rem !important;
  }
}
@media (max-width: 1080px){
  .slide-item{
    max-width: 18rem !important;
    max-height: 18rem !important;
  }
  .textBtn,
  .textBtnLast{
      font-size: 1.1em;
  }
  .res-w{
      max-width: 59%;
  }
  .warpper-content{
    max-width: unset;
    width:100%;
  }
}
@media (max-width: 990px){
  .beneBox-hidden p {
    font-size: 50px;
  }
  .pd-bene_h2 h2{
    font-size: 28px;
  }
  .bannerBtn{
    padding: 2.2% !important;
  }
  .btn-banner1{
    max-width: 76%;
  }
  .market-col_res{
    gap: 1.5rem !important;
  }
  .card{
    padding: 2rem !important;
  }
  .card .title-card {
    font-size: 1.9rem !important;
  }
  .banner{
    padding: 2vw 4vw 2rem;
  }
  .market-res{
    padding: 0 2rem;
    gap: 0;
  }
  .partner-p{
    padding: 0 0 2rem;
  }
  .bannerBtnLast,
  .bannerBtn{
    max-width: 70% !important;
  }
  .res-img{
    margin: 1rem auto;
  }
  .textBtn,
  .textBtnLast{
      font-size: 1.5em !important;
  }
    .res-w{
      max-width: 65%;
  }
  .left-img{
    left: 0;
  }
  .slide-item{
    max-width: 16rem !important;
    max-height: 16rem !important;
  }
}
@media (max-width: 768px){
  /* .res-img img{
    max-width: 70%;
  } */
  .card .title-card {
    font-size: 1.8rem !important;
  }
  .market-res {
    padding: 0 1rem;
  }
  .btn-footer{
    padding: 1rem;
  }
  .btn-footer button{
    padding: .5rem;
  }
  .btn-footer button span{
    font-size: 1.2rem;
  }
  .textBtn,
  .textBtnLast{
      font-size: 1.5rem !important;
  }
  .col-left {
    max-width: 66%;
    flex-basis: 66%;
    padding: 0 !important;
  }
  .col-right {
    max-width: 33%;
    flex-basis: 33%;
    padding: 0 !important;
  }
  .market-col_res{
    gap: 0rem;
  }
  .banner {
    padding: 2vw 3vw 3rem !important;
  }
  .res-w{
    max-width: 75% !important;
  }
  .banner-img{
    max-width: 18% !important;
  }
  .footer-res{
    padding: 0 4% !important;
  }
  .btn-footer{
    padding: 1rem;
  }
  .btn-footer button{
    padding: .5rem;
  }
  .btn-footer button span{
    font-size: 1.2rem;
  }
  .swiper-button-next-1,
  .swiper-button-next-2,
  .swiper-button-prev-1,
  .swiper-button-prev-2{
    transform: translateY(0%) !important;
    right: 0 !important;
  }
  .slide-res{
    padding: 0;
  }
}
@media (max-width: 640px){
  .pd-bene{
    padding-bottom: 0;
  }
  .bannerBtn{
    padding: 2.5% !important;
  }
  .btn-banner1{
    max-width: 77%;
  }
  #beneBox:hover #bene1,
  #beneBox:hover #bene2,
  #beneBox:hover #bene3,
  #beneBox:hover #bene4,
  #beneBox:hover #bene5,
  #beneBox:hover #bene6,
  #beneBox:focus #bene1,
  #beneBox:focus #bene2,
  #beneBox:focus #bene3,
  #beneBox:focus #bene4,
  #beneBox:focus #bene5,
  #beneBox:focus #bene6{
    display: flex;
    align-items: center;
    justify-content: center;
    transform: unset !important;
}
  #beneBox:hover #bene2 img,
  #beneBox:focus #bene2 img{
    max-width: 90% !important;
  }
  .btn-footer button{
    padding: 1.5rem;
  }
  .btn-footer button span{
    font-size: 2.2rem !important;
  }
  .market-res{
    padding: 0 1.5rem;
  }
  .slide-item{
    max-width: 12rem !important;
    max-height: 12rem !important;
  }
  .res-w{
    gap: 12rem;
    max-width: 90% !important;
  }
  .banner-img{
    display: none;
  }
#beneBox:hover #bene1,
#beneBox:hover #bene2,
#beneBox:hover #bene3,
#beneBox:hover #bene4,
#beneBox:hover #bene5,
#beneBox:hover #bene6{
  transform: unset !important;
}
#beneBox:focus #bene1,
#beneBox:focus #bene2,
#beneBox:focus #bene3,
#beneBox:focus #bene4,
#beneBox:focus #bene5,
#beneBox:focus #bene6{
  transform: unset !important;
}
  .resMImg{
    position: absolute;
    display: flex;
    top: 26%;
  }
  #partner{
    margin-bottom: 0 !important;
  }
  #benefit{
    margin-bottom: 2rem !important;
  }
  .res-img img{
    height: 6rem !important;
  }
  .img-hid-mb{
    margin-top: 0 !important;
  }
  .res-img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
  }
  .banner {
    padding: 2vw 3vw 2rem !important;
    gap: 0;
  }
  .bene{
    padding: 0 2rem;
    gap: 1.5rem !important;
  }
  .benefit-tit{
    font-size: 2.8rem;
  }
  #beneBox{
    max-width: 100%;
  }
  .bene-box {
    padding: 2rem !important;

  }
  #beneBox h2{
    font-size: 16px;
    font-weight: 700;
    max-width: 80%;
    margin: 0;
  }
  .beneBox-hidden{
    display: none;
  }
  .beneT-res,
  .beneB-res{
    gap: 1rem;
    flex-direction: column;
  }
  .arrow{
    display: none !important;
  }
  .arrowM{
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform:  translateY(-50%);
    right: 0rem;
    z-index: 10;
  }
  .left-img{
    left: -8%;
    max-width: 17%;
  }
  .footer-res{
    flex-direction: column;
  }
  .btn-footer button{
    padding: 1.5rem;
  }
  .btn-footer button span{
    font-size: 2.2rem !important;
  }
  .p-market-res{
    font-size: 1.4rem;
  }
  @keyframes ring {
    0%   { transform: rotate(0) ;  box-shadow: 0 0 0 0 rgba(3, 251, 254, 0.8); }
    10%  { transform: rotate(15deg); }
    20%  { transform: rotate(-15deg); }
    30%  { transform: rotate(10deg); }
    40%  { transform: rotate(-10deg); }
    50%  { transform: rotate(5deg); box-shadow: 0 0 0 30px rgba(0, 0, 0, 0); }
    60%  { transform: rotate(-5deg); }
    70%  { transform: rotate(3deg); }
    80%  { transform: rotate(-3deg); }
    90%  { transform: rotate(2deg); }
    100% { transform: rotate(0); box-shadow: 0 0 0 0 rgba(0, 0, 0, 0); }
  }
}
@media (max-width: 639px){
  .resMImg{
    top: 32%;
  }
}
@media (max-width: 480px){
  .res-w-4k{
    padding: 0 .5rem;
  }
  #beneBox h2{
    font-size: 14px;
  }
  .benefit-tit{
    font-size: 2rem;
  }
  .resMImg{
    top: 35%;
  }
  .btn-footer button{
    padding: 1rem;
  }
  .btn-footer button span{
    font-size: 1.6rem !important;
  }
  .market-res{
    padding: 0 1rem;
  }
  .webfill{
    height: auto !important;
  }
  .bene{
    padding: 0 1.5rem !important;
  }
  #benefit{
    margin-bottom: 1rem !important;
  }
  .mid{
    justify-items: center;
    align-items: center;
  }
  .bannerBtnLast,
  .bannerBtn{
    width: 100%;
    max-width: 70% !important;
  }
  .textBtn,
  .textBtnLast{
      font-size: 1.3rem !important;
  }
  .banner{
    padding: 0.8rem 0 .5rem !important;
    margin-bottom: 0;
  }
  .res-w{
    max-width: 100% !important;
  }
  .swiper-button-prev-1,
  .swiper-button-next-1,
  .swiper-button-prev-2,
  .swiper-button-next-2{
    transform: translateY(-25%) !important;
    right: -1rem !important;
  }
  .slide-item{
    max-width: 10em !important;
    max-height: 10rem !important;
  }
  .slide-res{
    padding: .5rem 1.5rem 2rem;
  }
  .market-slide > div{
    padding: 0 !important;
  }
  #Footer .f-top,
  #Footer .f-bot{
    flex-direction: column !important;
  }
  .btn-footer button{
    padding: 1rem;
  }
  .btn-footer button span{
    font-size: 1.6rem !important;
  }
  .bene-box {
    padding: 1.3rem !important;
  }
  #beneBox > div {
    margin: 0;
  }
  .left-img{
    left: -8%;
    max-width: 18%;
  }
  #partner{
    padding: 0 .5rem;
  }
}
@media (max-width: 375px) {
  .resMImg{
    top: 37%;
  }
  .slide-item{
    max-width: 9rem !important;
    max-height: 9rem !important;
  }
}